# Ignore all build directories at any level
**/cmake/
**/build/
**/bin/
**/.vscode/

# Ignore all Doxygen output directories at any level
**/html/
**/latex/

# Ignore configure specific files
**/build_info.hpp
